/* Take out the additional vertical whitespace for multi-line function signatures. */
/* https://github.com/readthedocs/sphinx_rtd_theme/issues/1529#issuecomment-1918561608 */
.sig dl {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 2em;
}

/* Hide right sidebar and the button that displays it when screenspace is reduced */
aside#rside {
    display: none !important;
}

div.xl\:hidden {
    display: none !important;
}

/* Since right sidebar is not displayed, re-declare the width criteria for the main area of the docs to be larger */
.sy-main {
    width: calc(100% - 20rem); /* each (left and right) sidebar is 18rem width, so now keep only 18 (+ 1 of margin for each side) */
    max-width: none;
    box-sizing: border-box;
}

/* For smaller window size, when right sidebar disappears, redeclare the same */
@media (max-width: 768px) {
    .sy-main {
        width: 100%;  /* now there are no sidebars visible */
        max-width: none;
    }
}
